---
swagger: '2.0'

################################################################################
#                              API Information                                 #
################################################################################
info:
  version: "0.0.1"
  title: P-Monitor
  description: P-Project official seeder monitor.
  termsOfService: http://helloreverb.com/terms/
  contact:
    name: P-Team
    email: contact@p-project.com
    url: http://p-project.io
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT

################################################################################
#                  Host, Base Path, Schemes and Content Types                  #
################################################################################
host: p-monitor.io
basePath: /api
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json

################################################################################
#                                  Security                                    #
################################################################################
securityDefinitions:
  basicAuth:
    type: basic
    description: HTTP Basic Authentication. Works over `HTTP` and `HTTPS`

################################################################################
#                                   Parameters                                 #
################################################################################
parameters:
  torrent_hash:
    name: torrent_hash
    in: path
    description: The torrent hash
    type: string
    required: true

################################################################################
#                                           Paths                              #
################################################################################
paths:
  /torrents/:
    get:
      security:
       - basicAuth: []
      summary: Torrents
      description: |
        The Torrents endpoint returns a list of torrents
      responses:
        200:
          description: An array of torrent_hash
          schema:
            type: array
            items:
              $ref: '#/definitions/Torrent'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      parameters:
       - name: torrent
         in: body
         description: the new torrent to declare
         required: true
         schema:
           $ref: '#/definitions/Torrent'
      security:
       - basicAuth: []
      summary: Torrents
      description: |
        Declare a new torrent
      responses:
        200:
          description: ok
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /torrents/{torrent_hash}:
    parameters:
    - $ref: '#/parameters/torrent_hash'
    get:
      security:
       - basicAuth: []
      summary: Torrents
      description: |
        The Torrents endpoint returns a torrent based on the query
      responses:
        200:
          description: Torrent
          schema:
            type: object
            properties:
              torrent:
                $ref: '#/definitions/Torrent'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

    delete:
      security:
       - basicAuth: []
      summary: Torrents
      description: |
        Notify torrent not being seeded by connected user
      responses:
        200:
          description: ok
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

    put:
      parameters:
       - name: torrent
         in: body
         description: The modified torrent
         required: true
         schema:
           $ref: '#/definitions/Torrent'
      security:
       - basicAuth: []
      summary: Torrents
      description: |
        Modify an existing torrent. Require to be the initial seeder
      responses:
        200:
          description: ok
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

################################################################################
#                                     Definitions                              #
################################################################################
definitions:
  Torrent:
    type: object
    properties:
      torrent_hash:
        type: string
        description: Unique hash representing the torrent
      torrent_name:
        type: string
        description: Torrent name
      num_peers:
        type: integer
        description: The number of peers
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
