---
swagger: '2.0'

################################################################################
#                              API Information                                 #
################################################################################
info:
  version: "0.0.1"
  title: P-Monitor
  description: P-Project official seeder monitor.
  termsOfService: http://helloreverb.com/terms/
  contact:
    name: P-Team
    email: contact@p-project.com
    url: http://p-project.io
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT

################################################################################
#                  Host, Base Path, Schemes and Content Types                  #
################################################################################
host: p-monitor.io
basePath: /api
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json

################################################################################
#                                  Security                                    #
################################################################################
securityDefinitions:
  basicAuth:
    type: basic
    description: HTTP Basic Authentication. Works over `HTTP` and `HTTPS`

################################################################################
#                                           Paths                              #
################################################################################
paths:
  /torrents/:
    get:
      security:
       - basicAuth: []
      summary: Torrents
      description: |
        The Torrents endpoint returns a list of torrents based on the query
      parameters:
        - name: torrent_hash
          in: query
          description: torrent_hash.
          required: true
          type: string
      responses:
        200:
          description: An array of torrent_hash
          schema:
            type: array
            items:
              $ref: '#/definitions/Torrent'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

################################################################################
#                                     Definitions                              #
################################################################################
definitions:
  Torrent:
    type: object
    properties:
      torrent_hash:
        type: string
        description: Unique hash representing the torrent

  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
